*.o
*.pyc
.*.swp
bin/check_guppi_databuf
bin/check_guppi_status
bin/clean_guppi_shmem
bin/fix_psrfits_polyco
bin/fold_psrfits
bin/guppi_daq
bin/guppi_daq_fold
bin/guppi_daq_server
bin/psrfits_singlepulse
bin/psrfits_subband
bin/test_net_thread
bin/test_psrfits
bin/test_psrfits_read
bin/test_udp_recv
bin/guppi_daq_dedisp
bin/test_dedisp_thread
bin/run_guppi_daq_server
build/
src/check_guppi_databuf
src/check_guppi_status
src/clean_guppi_shmem
src/fix_psrfits_polyco
src/fold_psrfits
src/guppi_daq
src/guppi_daq_fold
src/guppi_daq_server
src/psrfits_singlepulse
src/psrfits_subband
src/test_net_thread
src/test_psrfits
src/test_psrfits_read
src/test_udp_recv
src/guppi_daq_dedisp
src/test_dedisp_thread
